OPEN_ROUTER_API_KEY=
LANGFUSE_HOST=http://localhost:3000
LANGFUSE_PUBLIC_KEY=pk-lf-nexora-local
LANGFUSE_SECRET_KEY=sk-lf-nexora-local
LANGFUSE_INIT_ORG_ID=nexora
LANGFUSE_INIT_ORG_NAME=Nexora
LANGFUSE_INIT_PROJECT_ID=nexora-support
LANGFUSE_INIT_PROJECT_NAME=nexora-support
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-nexora-local
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-nexora-local
LANGFUSE_INIT_USER_EMAIL=admin@nexora.ua
LANGFUSE_INIT_USER_NAME=Admin
LANGFUSE_INIT_USER_PASSWORD=nexora-local-pass
